h3{
    font-family: 'Press Start 2P','Times New Roman', Times, serif;
    font-style:italic;
    text-shadow: 2px 1px 3px;
    color: white;
}
#f{
    height: 200px;
    width: 300px;
    animation: 3s ease-in-out 1s infinite running identifier;
    
}
#f:hover{
    
    transform: rotateX(180deg);
    transform: rotateX(180deg);
}


body{
   background: linear-gradient(lightblue,lightgreen,lightyellow);
   background-repeat: no-repeat;
   background-attachment:fixed; 
}
@keyframes identifier {
    0%{background-color: black;}
    20%{background-color: red;}
    40%{background-color: yellow;}
    60%{background-color: gray;}
    80%{background-color: brown;}
}